.card {
  height: 150px;
  width: 150px;
  background-color: red;
  display: inline-block;
  border: 2px solid black;
  margin: 2px;
}

.clicked {
  height: 150px;
  width: 150px;
  background-color: yellow;
  display: inline-block;
  border: 2px solid black;
  padding: 2px;
}

.complete {
  height: 150px;
  width: 150px;
  background-color: white;
  display: inline-block;
  margin: 4px;
}

.hidden {
  display: none;
}

p, button {
  display: inline-block;
}

.win {
  display: block;

}
.radio {
  display: inline-block;
}